/* CSS reset */
body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* box model fix here */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-- Header ---*/
header {
    background-color: white;
}
header h1 {
    color: #333333;
    padding: 15px 10px 0px 2%;
    text-align: center; 
}
header h2 {
    color: #333333;
    padding: 0 0 0px 2%;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}

/*-- Navigation --*/

nav {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    list-style: none;
    background-color: #ffab40;
}
nav ul.menu li {
    display: inline-block;
    list-style-type:none;
}
nav ul.menu li a{
    display: block;
    margin: 0 0 0 0;
    padding: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    color: #333;
}
nav ul.menu li a:hover {
    background-color: #ffdd71;
}
nav ul.menu li.active a {
    background-color: #c77c02;
}

/*-- Main --*/

main {
    padding: .5rem 2%;
    background-color: #FFF;
}
main blockquote{
    font-style: italic;
    margin: .4rem 2%;
}
main a {
    color:#0093c4;
}
main a:hover {
    color:#4fc3f7;
}
main ul.location, main ol.check {
    margin: 0 0 .8rem 2%;
    padding: 0 0 0 1rem;
    line-height: 25px;
}
main ul.location {
    list-style-type: square;
}

/*--Body--*/
ol.check {
    line-height: 27px;
    list-style-type:lower-roman;
}
body {
    font-family: 'Roboto', sans-serif;
    color:#333333;
    background-color: white;
}
h2 {
    padding: 10px 0 10px 2%;
    font-size: 1.5rem;
    font-weight: 500;
}
dl {
    padding: 0 0 15px 2%;
}
p {
    padding: 0 0 0 2%;
    font-size: 16px;
    font-kerning: 22px;
    line-height: 20px;
}
p.pPitfall {
    border-bottom: 3px #ffdd71;
}
p.pMoreinfo {
    background-color: #ffdd71;
    padding: 10px 0px 10px 10px;
    font-size: 16px;
    font-kerning: 22px;
    line-height: 20px;
}
dl {
    border-bottom: 10px  #ffdd71;
    line-height: 20px;
    font-size: 16px;
}
/*-- Footer --*/

footer {
    background-color: #ffab40;
    text-align: center;
    padding: 10px 0  10px 0;
    padding: 10px 0  10px 0;
}
footer p {
    font-weight: 100;
    font-size: 16px;
    font-style: normal
}
/*-- Other --*/
.keepOpen {
    clear: both;
}