/* CSS reset */
body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* box model fix here */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-- Header ---*/
header {
    background-color: white;
}
header h1 {
    color: #333333;
    padding: 15px 10px 0px 2%;
    text-align: center; 
}
header h2 {
    color: #333333;
    padding: 0 0 0px 2%;
    font-size: 20px;
    text-align: center;
    font-weight: 100;
}

/*-- images --*/
figure.gallery {
    float: left;
    padding: 2px 2px 2px 2px;
}
figure.btlhome {
    float: right;
    width: 33.333%;
    border: solid 1px #4c6c73;
    margin: 0 0 .25em 2%;
}

figure.btlhome img {
    width: 100%;
}
figure.btlhome figcaption {
    text-align: center;
    font-size: .7rem;
    color: #4c6c73;
}

figure.myGallery {
    float: left;
    
}

/*-- Navigation --*/

nav {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    list-style: none;
    background-color: #ffab40;
}
nav ul.menu li {
    display: inline-block;
    list-style-type:none;
}
nav ul.menu li a{
    display: block;
    margin: 0 0 0 0;
    padding: 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    color: #333;
}
nav ul.menu li a:hover {
    background-color: #ffdd71;
}
nav ul.menu li.active a {
    background-color: #c77c02;
}

/*-- Main --*/

main {
    padding: .5rem 2%;
    background-color: #FFF;
}
main blockquote{
    font-style: italic;
    margin: .4rem 2%;
}
main a {
    color:#0093c4;
}
main a:hover {
    color:#4fc3f7;
}
main ul.location, main ol.check {
    margin: 0 0 .8rem 2%;
    padding: 0 0 0 1rem;
    line-height: 25px;
}
main ul.location {
    list-style-type: square;
}
/*--Body--*/
ol.check {
    line-height: 27px;
    list-style-type:lower-roman;
    padding: 15px 15px 15px 20px;
}
body {
    font-family: 'Roboto', sans-serif;
    color:#333333;
    background-color: white;
}
h1 {
    padding: 0 0 0 4%;
}
h2 {
    padding: 10px 0 10px 2%;
    font-size: 1.5rem;
    font-weight: 500;
}
dl {
    padding: 15px 15px 15px 20px;
}
p {
    padding: 0 0 0 2%;
    font-size: 16px;
    line-height: 20px;
}
p.pPitfall {
    border-bottom: 3px #ffdd71;
}
p.pMoreinfo {
    border-left-style: solid;
    border-left-color: #c77c02;
    border-left-width: 15px;
    background-color: #ffdd71;
    padding: 15px 15px 15px 20px;
    font-size: 16px;
    line-height: 20px;
}
dl {
    line-height: 20px;
    font-size: 16px;
}

/*-- Form Styling --*/

form.conference fieldset {
    margin-bottom: 2rem;
    border-radius: .5rem;
    font-size: .8rem;
    color: #333;
}

form.conference legend {
    font-weight: bold;
    margin-left: 1rem;
}

form.conference span {
    display: block;
    padding: .8rem 0 0 .3rem;
}

form.conference .userinfo {
    width: 50%;
    color: #333;
    border-radius: .6rem;
    border: solid 1px #333;
    padding: .4rem;
}

form.conference .userbutton {
    width: 20rem;
    padding: .8rem;
    margin-left: 2%;
    background: #c3e8f6;
    border: solid 1px #333;
    border-radius: .6rem;
}









/*-- Footer --*/

footer {
    background-color: #ffab40;
    text-align: center;
    padding: 10px 0  10px 0;
    padding: 10px 0  10px 0;
}
footer p {
    font-weight: 100;
    font-size: 16px;
    font-style: normal
}
/*-- Other --*/
.keepOpen {
    clear: both;
}